@import "../../variables/Variables.scss";

header {
    background-color: $black-dark;
    color: $text-color-reverse; 
    font-family: "Roboto";
    display: flex;
    justify-content: space-around;

    .companyName {
        font-family: "Skranji";
    }

    nav {
        margin: auto 0;
        ul {
            display: flex;
            a {
                list-style-type: none;
                margin: 10px;
                font-size: $font-medium;
                cursor: pointer;
                &:hover {
                    color: $black-extra-light
                }
            }
        }
    }
}