@import "../../variables/Variables";

.pages_home {
    section {
        @include flex(column, true);
        min-height: 100vh;
    }

    .sectionServices, .sectionGalleryPreview {
        justify-content: space-between;
    }

    .sectionServices {
        background-color: $black-light;
        color: $text-color-reverse;

        .columnList {
            background-color: rgb(138, 138, 138);
            width: 100%;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex: 0.75;
            gap: 3em;
            border: 2px rgb(134, 134, 134) solid;

            .servicesPreview {
                img {
                    @include imageDefault();
                    height: 200px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .servicePreviewDescription {
                    @include imageDefault();
                    background-color: rgb(71, 71, 71);
                    border: 2px rgb(36, 36, 36) solid;
                    border-top: 0;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 45px;
                    margin: 0;
                    align-content: center;
     
                    p {
                        margin: 0;
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    .sectionFrontPage {
        .homePageLogo {
            border-radius: 50%;
        }
        .homePageLogo {
            width: 24rem;
        }
    }

    .sectionGalleryPreview {
        text-align: center;
        .galleryPreviewList {
            color: $text-color-reverse;
            @include flex(row, true);
            gap: 25px;
    
    
            .previewListItem {
                position: relative;
    
                img {
                    @include imageDefault();
                    cursor: pointer;
                }
    
                .previewToolTip {
                    position: absolute;
                    top: 0;
                    left: 10px;
                    height: auto;
                    border-radius: 2px;
                    overflow: hidden;
                    
                    p {
                        margin: 0;
                        padding: 5px 0;
                        // background-color: addTransparencyText($black-extra-light,10);
                        text-align: start; 
                        font-size: $font-small; 
                  
                    }
                }
            }
        }
    }
}
