@import "../../variables/Variables";

.pages_home {
    @include flex(column, true);
    height: 100vh;

    .homePageLogo {
        border-radius: 50%;
    }
}


.sectionGalleryPreview {
    @include flex(column, true);
    width: 100%;
    background-color: $black-light;
    color: $text-color-reverse;
    text-align: center;
    .galleryPreviewList {
        @include flex(row, true);
        gap: 25px;

        img {
            @include imageDefault();
            cursor: pointer;
        
        }
    }
}
