@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Skranji:wght@400;700&display=swap');

$black-dark: #050505;
$black-regular: #333333;
$black-light: #4D4D4D;
$black-extra-light: #666666;
$primary-color: black;
$accent-color: white;
$text-color: black;
$text-color-reverse: white;


$font-large: 24px;
$font-medium: 18px;
$font-small: 14px;



@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($direction, $center: false) {
    display: flex;
    flex-direction: $direction;
    @if $center {
        justify-content: center;
        align-items: center;
    }
}

@mixin imageDefault {
    width: 250px;
    height: 300px;
    box-shadow: 0 0 5px 3px $black-extra-light;
    border-radius: 25px;
}

.sectionTitle {
    font-size: $font-large;
    font-family: "Skranji";
}

.textLink {
    cursor: pointer;
    color: rgb(44, 153, 255);
    
    &:hover {
        text-decoration: underline;
    }
}

@function addTransparencyText($color,$tranparency) {
    @if $tranparency == type-of($value: 'string') {
       @return #{$color+$tranparency}
    }

    @if $tranparency < 10{
        @return #{$color+"0"+$tranparency}
    };
    @return #{$color+$tranparency}

}


